# Archivos de configuración locales
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/

# Configuración y caché de herramientas
.qodo
.idea/  # Para JetBrains (PyCharm)
.vscode/  # Para VS Code
